@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Blog Edit PAge</h1>
<br />
@using (Html.BeginForm("EditBlog", "Blog", FormMethod.Post))
{
    @Html.Label("Blog Id")
    @Html.TextBoxFor(x => x.BlogID, new { @class = "form-control" })
    
    <br />
    @Html.Label("Blog Title")
    @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.BlogTitle)
    <br />
    @Html.Label("Blog Image")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.BlogImage)
    <br />
    @Html.Label("Category")
    @Html.DropDownListFor(x => x.CatID, (List<SelectListItem>)ViewBag.cv, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Content")
    @Html.TextAreaFor(x => x.BlogContent, 10, 3, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.BlogContent)
    <br />
    <button class="btn btn-info">Uppdate Blog</button>
}


